.ChangePasswordContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #003580;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin:auto;
}

.lab{
    color:white;
}

.passwordContainer{
    width:100%;
    position:relative
}
.psdImage{
    position: absolute;
    max-height: -webkit-fill-available;
    top: 50%;
    right: 4px;
    cursor: pointer;
    transform: translateY(-8px);
}

.input{
    max-width:100%;
    height:35px;
    border:none;
    border-radius: 10px;
    text-align: center;
}

.buttonContainer{
    width:100%;
    display: flex;
    justify-content:space-evenly;
}

.btn{
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #0071c2;
    color: white;
}

.footer{
    position: relative;
    display:flex;
    justify-content:center;
    max-width: 100%;
    color :white; 
    top:150px;
}

.login{
    width:100%;
    display:flex;
    gap:5px;
    flex-direction: column;
    align-items: center;
}

.errorMessage{
    color:white;
    text-align:center;
    font-size:12px;
    width: 100%;
    border-radius:10px;
    background-color:red;
}